@import '../../assets/theme.scss';

:host {
    display: flex;
    background-color: $color-surface;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

.card {
    padding: 2rem;
    border-radius: 2rem;
    background: $color-elevation;

    & > *:not(:last-child) {
        margin-bottom: 2rem;
    }
}
