/* Fonts */
$font: 'Poppins', sans-serif;

/* Colors */
$color-primary: #bb86fc;
$color-secondary: #03dac5;
$color-surface: #121212;
$color-elevation: rgba(255, 255, 255, 0.05);
$color-text: rgba(255, 255, 255, 0.87);
