@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');
@import './assets/theme';

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: $font;
}

body,
input,
textarea,
select {
    color: $color-text;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill::first-line,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus select:-webkit-autofill::first-line {
    font-size: 1rem;
    font-family: $font;
    -webkit-text-fill-color: $color-text;
    box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
